@font-face {
    font-family: 'Avalon';
    src: url('../fonts/Avalon-Bold.eot');
    src: url('../fonts/Avalon-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avalon-Bold.woff2') format('woff2'),
        url('../fonts/Avalon-Bold.woff') format('woff'),
        url('../fonts/Avalon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agenda';
    src: url('../fonts/Agenda-MediumCondensed.eot');
    src: url('../fonts/Agenda-MediumCondensed.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Agenda-MediumCondensed.woff2') format('woff2'),
        url('../fonts/Agenda-MediumCondensed.woff') format('woff'),
        url('../fonts/Agenda-MediumCondensed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agenda';
    src: url('../fonts/Agenda-Bold.eot');
    src: url('../fonts/Agenda-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Agenda-Bold.woff2') format('woff2'),
        url('../fonts/Agenda-Bold.woff') format('woff'),
        url('../fonts/Agenda-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
