@import "/src/assets/scss/variables";

.page-services {
    h3 {
        font-size: 2rem;
        text-align: left;
    }
    .services-list-wrapper {
        .content {
            padding-top: 0;
            padding-bottom: 50px;
        }
        .row {
            li {
                color: $blue;
                font-size: 1.2rem;
                .li-dot {
                    background: $blue;
                    height: 8px;
                    width: 8px;
                    min-width: 8px;
                    border-radius: 50%;
                    // margin-top: 10px;
                }
            }

            .col-12 {
                display: flex;
                justify-content: flex-start;
            }
        }
    }

    @media (min-width: 768px) {
        h3 {
            font-size: 2.5rem;
        }
        .services-list-wrapper {
            .content {
                padding-top: 0;
                padding-bottom: 50px;
            }
            .row {
                li {
                    font-size: 1.5rem;
                    .li-dot {
                        margin-top: 4px;
                    }
                }

                .col-12 {
                    display: flex;
                    justify-content: flex-start;
                }
            }
        }
    }
}
