@import "/src/assets/scss/variables";

.hero-wrapper {
    height: auto;
    .heroImg {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .content {
        padding: 0;
    }

    .hero-block {
        background: $green;
        .text-content {
            position: relative;
            color: #fff;
            top: 0;
            padding: 22px 22px;

            h1 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.5rem;
                margin: 0;
            }
        }

        .bg-block {
            left: 0;
            background: $green;
            position: absolute;
            top: 0;
            height: 150px;
            width: 100%;
            img {
                position: absolute;
                left: -250px;
                bottom: -516px;
                width: 450px;
                z-index: -1;
                max-width: none;
            }
        }
    }
}

section.pageHero {
    position: relative;
    .hero-block {
        position: relative;
    }

    .row {
        position: relative;
        z-index: 10;
    }

    .text-block {
        p:last-child {
            margin: 0;
        }
    }
}

.page-project {
    .heroImg {
        object-position: left;
    }
}

@media (min-width: 768px) {
    .hero-wrapper {
        .heroImg {
            height: 700px;
            object-fit: cover;
        }

        .hero-block {
            .text-content {
                position: absolute;
                color: #fff;
                padding: 0 22px;
                top: -120px;
                h1 {
                    font-size: 3.5rem;
                    margin-bottom: 80px;
                }

                p {
                    font-size: 1.5rem;
                }
            }

            .bg-block {
                left: -150px;
                background: $green;
                position: absolute;
                top: -180px;
                height: 470px;
                width: 100%;
                img {
                    left: 0px;
                }
            }
        }
    }
}
