.banner-w-text {
    position: relative;
    height: 300px;
    img {
        position: absolute;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    .text-block {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 22px;
        h4 {
            z-index: 1;
            font-size: 2rem;
            margin-bottom: 20px;
        }
    }

    @media (min-width: 768px) {
        height: 550px;

        .text-block {
            h4 {
                font-size: 3rem;
            }
        }
    }
}
