@import "/src/assets/scss/variables";

form {
    padding: 20px 0;

    .row {
        margin-bottom: 20px;
    }
    input,
    textarea {
        position: relative;
        z-index: 10;
        width: 100%;
        padding: 5px 10px;
    }

    .btn-wrapper {
        height: 41px;
        align-items: center;
    }
}
