@import "/src/assets/scss/variables";

footer {
    background: $blue;
    position: relative;

    .footer-logo-wrapper {
        position: relative;
        height: 100%;
        padding: 50px;
        z-index: 1;
        background: $green;
        display: felx;
        justify-content: center;
        .footer-logo{
            width: 150px;
        }
    }

    .contact-wrapper {
        text-align: center;
        padding: 0;
    }

    .content-w{
        padding: 50px;
    }

    @media (min-width: 768px) {
        .footer-logo-wrapper {
            position: absolute;
        }
        .contact-wrapper {
            text-align: left;
            padding: 0px;
        }
    }
}
